<!DOCTYPE html>
<body>
    <div class="img-fix"></div>
  
    <div style="width: 100%;">
        <div class="m-auto wrapper">
            <div class="side right">
                <button class="arrow-submit" type="submit">
                    <div class="fa-arrow"></div>
                </button>
            </div>
            <div class="main left">
                <div style="height: 120px; text-align: center;">
                    <img class="img-circle" src="https://assets.malcherczyk.com/wallpapers/sierra.jpg">
                </div>
                <form>
                    <input class="input" type="email" placeholder="Email">
                    <input class="input" type="password" placeholder="Enter Password">
                </form>
            </div>
        </div>
    </div>
</body>